.app-wrapper{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  padding: 0;
  
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content{
  grid-area: c;
  background-color: #94B49F;
}