.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsIitems {
    padding: 10px;
}

.dialogsIitems .active {
    color: #E5E3C9;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}